html, body {
    font-family: "Source Sans Pro";
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

.content{
    min-height: 100%;
    margin-bottom: -54px;
}

.jumbotron{
    background-color:#3cd638;
    text-align: center;
    width: 100% !important;
    padding: -15px -15px;
}
#jumbotron-logo{
    width: 350px;
}
.jumbotron h1{
    margin: 15px 15px;
    font-weight: 300;
    font-size: 75px;
    color: #222;
}
.jumbotron h2{
    margin: 15px 15px;
    font-weight: 200;
}

button:focus{
    outline: none !important;
}
.btn{
    font-size: 18px;
    font-weight: bold;
    background-color: #3cd638;
    margin: 15px 15px;
    border: solid 2px #fff; 
    color: #fff !important;
}
.btn:hover{
    color: #fff;
}

@media only screen
and (min-width: 1200px) {
    .btn:hover{
        background-color: #fff;
        color: #3cd638 !important;
    }
    .btn:active{
        color: #efefef;
    }
}
@media only screen
and (max-width:735px) {
    #jumbotron-logo{
        width: 280px;
    }
}

.carousel-module{
    text-align: center;
}
.carousel-module h3{
    font-weight: bolder;
    font-size: 40px;
}
.carousel-module-description{
    font-weight: 200;
    font-size: 25px;
    padding: 15px 15px;
}
.glyphicon-option-horizontal{
    font-size: 100px;
    color: #3cd638;
}
.glyphicon-upload{
    font-size: 100px;
    color: #3cd638;
}
#vote-icon{
    width: 100px;
}

.well{
    text-align: center;
}
.well h3{
    font-weight: bold;
}
.signup-form{
    position: relative;
    width: 200px;
    left: 50%;
    margin-left: -150px;
    width: 300px;
}
.input-group{
    width: 300px;
}
input[type=text]{
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus{
  box-shadow: 0 0 5px #3cd638;
  border: 1px solid #3cd638;
}
input[type=email]{
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #DDDDDD;
    margin-top: 10px;
}
 
input[type=email]:focus{
  box-shadow: 0 0 5px #3cd638;
  border: 1px solid #3cd638;
}
#submit-button{
    background-color: #fff;
    color: #3cd638 !important;
    border: solid 2px #3cd638; 
}
#submit-button:hover{
    background-color: #3cd638;
    color: #fff !important;
}

.gap{
    height: 54px;
}
.footer{
    height: 54px;
    width: 100%;
    background-color: #3cd638;
}
@media only screen
and (max-width:768px) {
    .footer{
        height: auto;
    }
}
.footer-column{
    text-align: center;
}
.footer-image-column{
}
#footer-logo{
    width: 50px;
}
.footer-item {
    color: #fff;
    font-weight:400;
    font-size: 18px;
    margin: 12.5px 10px;
}

#footer-button{
    font-size: 18px;
    font-weight: bold;
    margin: 6px 10px;
}